/*
Aufgabe 3b
Name: Luise Fehrenbach
Matrikel: 254668
Datum: 6.4.17
    
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/


body{
	height:1000px;
}

#deck {
	background-color: red;
	width:150px;
	height: 200px;
}

#discard {
	background-color:black;
	width:150px;
	height:200px;
	margin-top: 50px;
}

#hand {
	background-color: green;
	width: 400px;
	height: 200px;
	margin-left: 200px;
	margin-top: -310px;
}

/*
#deck{
	background-color: blue;
	border: 1px solid;
	width: 60px;
	height: 100px;
	float:left;
	margin: 2px;
	padding:1px;
}

#discard{
	
	border: 1px solid;
	width: 60px;
	height: 100px;
	float:left;
	margin: 2px;
	padding:1px;
	background-color: lightgray;
	
	
}
*/


div{
	clear:both;
	width: 60px;
	height: 100px;
	margin: 2px;
	border: 1px solid;
	text-align: center;
	padding:1px;
}