/*
Aufgabe 3b
Name: Luise Fehrenbach
Matrikel: 254668
Datum: 6.4.17
    
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

body{
	height:1000px;
}

#ziehstapel {
	background-color: red;
	width:150px;
	height: 200px;
}

#ablegestapel {
	background-color:black;
	width:150px;
	height:200px;
	margin-top: 50px;
}

#hand {
	background-color: green;
	width: 400px;
	height: 200px;
	margin-left: 200px;
	margin-top: -310px;
}
