/*
Aufgabe 2a
Name: Luise Fehrenbach
Matrikel: 254668
Datum: 24.04.17
    
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

body {
    width: 656px;
}
.boardwhite {
    height: 80px;
    width: 80px;
    float: left;
    background: white;
}


.boardblack {
	height: 80px;
    width: 80px;
    float: left;
    background: black;   
    color: white;
}

.selected {
	background-color: red;
}